.rebelPink {
  color: #f71963;
}
/*----  CUSTOM REFERENCE STYLES ----*/
#body-ValidateDocumentbyClusters {
  max-width: -webkit-fill-available;
  height: 400px;
}
/*----  SITE NAVIGATION ----*/

header#hub-header #header-top #header-logo {
  width: 125px;
  height: 66px;
  margin-top: 2rem;
  background-image: url(https://files.readme.io/b62d150-small-logo-training-brasil.png);
}

#header-top {
  box-shadow: 0 0 13px rgba(254, 33, 102, 0.29);
  height: 6rem !important;
}

/* TOP NAVIGATION LINKS: COLOR */
header#hub-header #header-top #header-nav-left li a,
header#hub-header #header-top #header-nav-right li a {
  color: #3f3f40;
}

/* TOP NAVIGATION LINKS: BACKGROUND/COLOR ON HOVER */
header#hub-header #header-top #header-nav-left li a:hover,
header#hub-header #header-top #header-nav-right li a:hover {
  background-color: #f2f4f5;
  color: #f71963;
}

/*----  LANDING PAGE ----*/

#headline {
  text-align: center;
  font-size: 3rem;
  width: 50rem;
  line-height: 56px;
  font-weight: 400;
  margin: 0.67em 0;
  color: #142032;
}
#headline > i {
  color: #f71963;
}

#hub-subheader,
#hub-subheader-parent {
  display: none;
}

#hub-landing-page {
  margin-top: 0;
}

#hub-landing-page > .left {
  display: flex;
  justify-content: center;
}

#homecta {
  padding-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

#linkcta {
  padding: 1rem;
  background: #f71963;
  color: white;
  font-size: 0.875rem;
  text-transform: uppercase;
  border-radius: 0.375rem;
}

/*---- REFERENCE ----*/

/* MIDDLE PANE FOLDER/ENDPOINT NAME */
.hub-reference-left h2 {
  margin-bottom: 23px !important; /* ADD MARGIN-BOTTOM */
}

/* MIDDLE PANE ENDPOINT DESCRIPTION */
.hub-reference-left .excerpt {
  padding-bottom: 20px !important;
}

/* MIDDLE PANE FOLDER/ENDPOINT BOX */
.hub-reference-left header {
  border-bottom: 0 !important; /* THIN BORDER */
  padding-bottom: 0 !important; /* REDUCE PADDING-BOTTOM */
}

/* MIDDLE PANE MARKDOWN H2 HEADER */
.magic-block-textarea h2 {
  margin-bottom: 23px !important; /* ADD MARGIN-BOTTOM */
}

/*----  GENERAL STYLE ----*/
section#hub-content .page-small {
  width: 100%;
  margin: unset;
}

#hub-container > .hub-container {
  max-width: 96rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* H2: COLOR/FAMILY/SIZE/WEIGHT */
h2 {
  color: #3f3f40;
  font-size: 24px;
  font-weight: 700;
}

/* P: FAMILY/SIZE/WEIGHT */
p {
  font-size: 14px;
  font-weight: 400;
}

/* CODE: COLOR */
p code,
li code {
  color: #f71963;
}

/*----  MEDIA QUERIES ----*/

@media (max-width: 1160px) {
  .hub-is-home #hub-landing-top {
    padding: 0;
  }
  #hub-landing-page {
    margin-left: 30px;
    margin-right: 30px;
  }
}

/*----  FONT QUERIES ----*/

/*body {
  font-family: Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}*/

@font-face {
  font-family: 'Fabriga';
  src: url('https://io.vtex.com.br/fonts/fabriga/Fabriga-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fabriga';
  src: url('https://io.vtex.com.br/fonts/fabriga/Fabriga-Italic.woff')
    format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fabriga';
  src: url('https://io.vtex.com.br/fonts/fabriga/Fabriga-Bold.woff')
    format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fabriga';
  src: url('https://io.vtex.com.br/fonts/fabriga/Fabriga-BoldItalic.woff')
    format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fabriga';
  src: url('https://io.vtex.com.br/fonts/fabriga/Fabriga-Light.woff')
    format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fabriga';
  src: url('https://io.vtex.com.br/fonts/fabriga/Fabriga-LightItalic.woff')
    format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fabriga';
  src: url('https://io.vtex.com.br/fonts/fabriga/Fabriga-Medium.woff')
    format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fabriga';
  src: url('https://io.vtex.com.br/fonts/fabriga/Fabriga-MediumItalic.woff')
    format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fabriga';
  src: url('https://io.vtex.com.br/fonts/fabriga/Fabriga-Black.woff')
    format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fabriga';
  src: url('https://io.vtex.com.br/fonts/fabriga/Fabriga-BlackItalic.woff')
    format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* courses custom page */
.course-container {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: proxima nova, proxima-nova, -apple-system, BlinkMacSystemFont,
    Segoe UI, open sans, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji;
}
.course-card {
  border-radius: 6px;
  margin: 1rem;
  max-height: 24rem;
  max-width: 24rem;
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: #f71963;
  background: white;
  box-shadow: rgba(61, 62, 64, 0.2) 0px 3px 9px 0px;
  padding: 1.5rem;
}

.inactive-card {
  filter: none;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

.course-title {
  padding-top: 0.8rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #f71963;
}
.course-description {
  color: #717786;
  max-height: 4.125rem;
  text-overflow: ellipsis;
  font-size: 1rem;
  line-height: 1.7rem;
}
